mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo-container {
  display: flex;
  align-items: center;
}

.main-logo {
  height: 2.5rem;
  margin-right: 0.63rem;
}

.main-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.spacer {
  flex: 1;
}

.user-login-menu {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.main-mobile-menu-button {
  display: none;
}

@media (max-width: 48rem) {
  .main-title {
    font-size: 1rem;
  }

  .main-logo {
    height: 1.9rem;
    border-radius: 50% !important;
  }

  .user-login-menu {
    width: 1.9rem;
    height: 1.9rem;
    cursor: pointer;
  }

  .main-menu-toolbar {
    display: none !important;
  }

  .main-mobile-menu-button {
    display: block;
  }

  .main-logo {
    display: none;
  }
}