.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.main-is-mobile .main-toolbar {
  position: fixed;
  z-index: 2;
}

.main-sidenav-container {
  flex: 1;
  padding-left: 10rem;
  padding-right: 10rem;
}

.main-is-mobile .main-sidenav-container {
  flex: 1 0 auto;
}

.main-mat-sidenav-content {
  padding: 1rem;
}

@media (max-width: 48rem) {
  .main-sidenav-container {
    padding-left: 0;
    padding-right: 0;
  }
}